[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/myblist"]
	path = themes/myblist
	url = https://github.com/Rsprice/blist-hugo-theme
